@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

:root {
  --palette-orange: #b65e11;
  --palette-light-orange: #ea9852;
  --palette-black-transparency: #2222221c;
  --palette-black-dark-transparency: rgba(0, 0, 0, 0.5);
  --palette-white-transparency: #dddddd5c;
  --palette-white: #fdfdfd;
  --palette-black: #222;

  --color-bg-button: var(--primary-color);
  --color-bg-popup: var(--primary-color);
  --color-bg-popup-button: var(--palette-white);
  --color-bg-inner-checkbox: var(--primary-color);
  --color-text-header: var(--primary-color);
  --color-text-button: var(--palette-white);
  --color-text-popup: var(--palette-white);
  --color-text-popup-button: var(--primary-color);
  --color-text-nav: var(--palette-black-dark-transparency);
  --color-text-nav-active: var(--primary-color);
  --color-text-distance-info: var(--primary-color);
  --color-out-nav-button: var(--primary-color);
  --color-out-map-button: var(--palette-white);
  --color-out-distance-info: var(--primary-color);
  --color-out-input: var(--primary-color);

  /*Light*/
  --primary-color: var(--palette-orange);
  --color-bg-header: var(--primary-color);
  --color-bg-body: var(--palette-white);
  --color-bg-nav: var(--palette-white);
  --color-bg-input: var(--palette-black-transparency);
  --color-bg-slider: var(--palette-white);
  --color-bg-checkbox: var(--palette-white);
  --color-text-main: var(--palete-black);
  --color-text-input: var(--palette-black);
  --color-text-title: var(--palette-black);
  --color-text-list-item: var(--palette-black);
  --color-text-input-placeholder: var(--palette-black);
  --color-out-checkbox: var(--palette-black);
  --color-hover-nav-item: var(--palette-black-transparency);
  --color-shadow-list-item: var(--palette-black-dark-transparency);
}

/*===================== GENERAL STYLES =====================*/
/*#region*/
html {
  height: 100%;
  touch-action: manipulation;
  user-zoom: fixed;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
}

body {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 3rem calc(100% - 7rem) 4rem;
  grid-template-columns: 1fr;
  background-color: var(--color-bg-body);
}

header,
nav {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

main {
  display: flex;
  max-width: 100vw;
  max-height: 100%;
}

h3{
  font-size: 1.1rem;
  font-weight: bold;
}

.highlight-button {
  font-size: .8rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  background-color: var(--primary-color);
  color: var(--color-text-button);
}

.scroller {
  max-height: 100%;
  overflow-y: scroll;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

/*#endregion*/

/*==================================SCROLL-BAR=====================================*/
/*#region*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg-slider) rgb(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-bg-slider);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}
/*#endregion*/

/*===================== HEADER =====================*/
/*#region*/
header {
  background-color: var(--color-bg-header);
  font-weight: bold;
  box-shadow: 0 0 1rem rgba(128, 128, 128, 0.378);
}

/*#endregion*/

/*===================== NAV =====================*/
/*#region*/
nav {
  box-shadow: 0 0 0.6rem rgba(128, 128, 128, 0.378);
  background-color: var(--color-bg-nav);
  color: var(--color-text-nav);
  user-select: none;
}

#mobile-nav {
  height: 100%;
  padding: 8px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.active-nav-item {
  color: var(--color-text-nav-active);
}

.mobile-nav__item {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  font-size: 2rem;
}

.mobile-nav__item > label {
  position: absolute;
  width: 6rem;

  /* The position at the top of the item, centered */
  top: -1.6rem;
  left: calc(50%-3rem);

  display: flex;
  justify-content: center;
  font-size: 1rem;

  background-color: var(--color-bg-nav);
  border-radius: 10px;
  padding: 2px 5px;
  border: 2px solid var(--primary-color);

  visibility: hidden;
}

.mobile-nav__item:active > label {
  /*Add the animation, that fix the final status*/
  animation: slow-appeare 0.5s ease-in-out forwards;
}

/*Slow appeare the object*/
@keyframes slow-appeare {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/*#endregion*/

/*===================== MAIN ====================*/
/*#region*/
.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--color-text-main);
  overflow: hidden;  
}

.hidden-page{
  display: none;
}

.main-container > h1 {
    width: 100%;
    padding: 0 1rem;
}

/*_________________ Training Sets _______________*/
#training-set__nav {
  width: 100%;
}

#training-set__nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 4px 0;
}

.training-set__nav-item{
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;

  transition: all 0.3s;
}

.active-training-set__nav-item{
  color: var(--primary-color);
}

.active-training-set__nav-item::before {
  content:"";
  position: absolute;
  top:100%;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-color);
}

#training-set__container {
  width: 200%;
  height: calc(100% - 3rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  transition: all 0.2;
}

#set-creator__container{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

#new-set-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 .8rem;
  padding-top: 1rem;
}

#new-set-form > * {
  width: 100%;
}

#new-set-form #title, #new-set-form #description {
  resize: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--palette-black-transparency);
  background-color: var(--color-bg-input);
  color: var(--color-text-input);
  font-size: .8rem;
}

#new-set-form #title:focus, #new-set-form #description:focus {
  outline: 2px solid var(--color-out-input);
}

#new-set-form button:active {
  transform: scale(0.9);
}

#exercises-list-header{
  width: 100%;
  gap: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .8rem;
  font-size: .8rem;
}

#category-filter{
  width: 100px;
  border-radius: 5px;
  height: 1.5rem;
  border: 1px solid var(--palette-black-transparency);
}

#category-filter.active{
  border: 1px solid var(--primary-color);
}

#category-filter option:hover{
  background-color: var(--primary-color);
  color: var(--palette-white)
}

#exercises-list{
  padding: 0 .3rem .8rem .8rem;
}

/*#endregion*/


/*________________ Exercises Items ______________*/
.exercise-card{
  width: 100%;

  padding: 0.5rem;
  border-radius: 0.6rem;
  border: 3px solid var(--palette-black-transparency);

  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 0.6rem;
  overflow: hidden;

  user-select: none;
  position: relative;
}

.exercise-card.active {
  border-color: var(--primary-color);
}

.exercise-card .main-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;  
}

.exercise-card .image {
  height: 6rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-card .image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.exercise-card .information{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding-top: .3rem;
  padding-bottom: 1.2rem;
}

.exercise-card .information > * {
  font-size: .9rem;
}

.exercise-card .description-button{
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  left: 0;

  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size:0.8rem;
  line-height: 0.9rem;
  color: var(--palette-black-dark-transparency);
}

.exercise-card .description{
  display: none;
  margin-bottom: 1.2rem;
  text-align: justify;
  width: 95%;
  font-size: .9rem;
}

.exercise-card .description.visible{
  display: flex;
}

.exercise-card .checkbox{
  appearance: none;
  position: relative;
  height: 30px;
  aspect-ratio: 1/2;
  background-color: var(--color-bg-checkbox);
  text-decoration: none;
  border-radius: 10%;
  outline: 2px solid var(--palette-black-dark-transparency);
  outline-offset: 2px;
  cursor: pointer;
  transition: all .3s;
  margin-right: 2px;
}

.exercise-card .checkbox::before {
  content: "✖";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--palette-white);
  font-size: .6rem;
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--palette-black-dark-transparency);
  border-radius: 10%;
  top: 0;
  left: 0;
  transition: 0.2s;
  transform-origin: center;
}

.exercise-card .checkbox:checked{
  outline: 2px solid var(--color-bg-inner-checkbox);
  background-color: var(--palette-light-orange);
}

.exercise-card .checkbox:checked::before {
  top: 50%;
  background-color: var(--primary-color);
  content: "✔";
}

.exercise-card .checkbox:hover {
  outline: 2px solid var(--color-bg-inner-checkbox);
  outline-offset: 2px;
}

/* Handle size less than 400px width */
@media (max-width: 400px) {
  .exercise-card .description-button{
    font-size: 0.7rem;
  }

  .exercise-card .information {
    gap: 0;
  }

  .exercise-card .information > * {
    font-size: .8rem;
  }

  .exercise-card .description{
    font-size: .8rem;
  }

  .exercise-card .image {
    height: 5rem;
    bottom: .3rem;
  }
}